body{
    min-width: 500px;
}

button{
    align-content: center;
    background-color:green;
    color: white;
    font-size: large;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    border: 2px solid green;
}


#clear-btn{
    align-content: center;
    background-color:white;
    color: green;
    font-size: large;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
}

input{
    padding: 10px;
    font-size: 15px;
    width: 100%;
    margin-bottom: 10px;
}

li{
    font-size: 20px;
    /* margin-top: 10px; */
}

ul{
    list-style-type: none;
}

li a{
    color: green;
}